/* ==== variables ==== */
:root {
  --accet-color: #2196f3;
  --title-color: #212121;
  --white-color: #ffffff;
  --main-bg-color: #2f303a;
  --second-bg-color: #f5f4fa;
  --text-color: #757575;
  --hover-color: #188ce8;
  --black-color: #000000;
  --main-font: 'Roboto', sans-serif;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: var(--main-font);
  font-style: normal;
  color: var(--title-color);
}
ul {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}
p {
  color: var(--text-color);
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;
}
.button {
  font-size: 16px;
  text-align: center;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.button-accent,
.filters .button-accent {
  color: var(--white-color);
  background-color: var(--accet-color);
}
/* ============== header styles ========= */
.header {
  margin: 0 auto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  background-color: var(--white-color);
  border-bottom: 1px solid #ececec;
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: var(--black-color);
}
.logo span {
  color: var(--accet-color);
}
.contact-list {
  color: var(--text-color);
}
.nav-link:hover,
.nav-link:focus,
.nav-link:active,
.contact-link:hover,
.contact-link:focus {
  color: var(--accet-color);
}
.nav-link.current {
  color: var(--accet-color);
}

/* ============== header styles ==============*/
/* ============== main styles ================ */
.main {
  margin: 0 auto;
  background-color: var(--white-color);
}
/* hero-section */
.hero {
  background-color: var(--main-bg-color);
}
.hero .title {
  width: 696px;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}
.hero .button {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.hero .button:hover,
.hero .button:focus {
  background-color: var(--hover-color);
}
/* main-section */
/* our features section */
.our-features h3 {
  width: 270px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.our-features p {
  width: 270px;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}
/* our features section */
/* what are we doing section */

/* what are we doing section */
/* our team */
.our-team {
  background-color: var(--second-bg-color);
}
.our-team h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
}
.our-team p {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-card {
  width: 270px;
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
/* our team */

/* ================ main styles =============== */
/* ================ portfolio styles =============== */
/* filters */
.filters-button {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.625;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  background: var(--second-bg-color);
}
.filters-button:hover,
.filters-button:focus {
  color: var(--white-color);
  background-color: var(--accet-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* filters */
/* projects */
.project {
  width: 370px;
  background: var(--white-color);
  border: 1px solid #eeeeee;
}
.project h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.project p {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
}
/* projects */
/* ================ portfolio styles =============== */
/* ================ footer styles =============== */
.footer {
  margin: 0 auto;
  background-color: var(--main-bg-color);
}
.logo.white {
  color: var(--white-color);
}
.address {
  font-style: normal;
}
.address p {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--white-color);
}
/* ================ footer styles =============== */
